{
  "all": true,
  "check-coverage": true,
  "statements": 95,
  "branches": 80,
  "functions": 99,
  "lines": 98,
  "temp-dir": "./test/logs/nyc_output",
  "reporter": ["html", "text", "text-summary", "lcov"],
  "report-dir": "./test/logs/coverage",
  "exclude": [
    "examples",
    "src/@solace-labs",
    "src/utils/EpSdkErrors.ts",
    "src/utils/EpSdkLogger.ts",
    "src/utils/EpSdkConsoleLogger.ts",
    "src/internal-utils/EpApiHelpers.ts",
    "test",
    ".eslintrc.cjs"
  ]
}
